#checkout {
  width: 100%;
  height: calc(100vh - var(--header-height) - var(--footer-height));
  background: var(--tertiary-gradient);
  @include flexType(column, center, center);
  position: relative;

  @import "../modules/checkout/checkform";
}
