#footer {
  height: var(--footer-height);
  width: 100%;
  @include gridDis();
  grid-template-columns: repeat(4, 1fr);
  background-color: black;
  color: white;
  padding: 0 4vw;
  .img-container {
    height: 150px;
    aspect-ratio: 1;
    cursor: pointer;
  }
  .navigation {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1vh;
    a {
      text-decoration: none;
      color: white;
      cursor: pointer;
    }
  }
  .contact {
    @include gridDis();
    gap: 2vh;
    & > h2 {
      text-transform: capitalize;
      font-size: 1.5rem;
    }
    & > .touch {
      @include gridDis();
      width: 100%;
      grid-template-columns: repeat(3, 1fr);
      & > a {
        @include gridDis();
        width: fit-content;
        color: white;
        font-size: 1.25rem;
      }
    }
  }
  .desc {
    display: grid;
    & > span {
      width: 100%;
      text-align: right;
    }
  }
  @media only screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
    .img-container {
      height: 100px;
    }
  }
}
