@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@500&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
:root {
  --primary-color: #ff80ae;
  --primary-fade-color: #ffd9e6;
  --liner-gradient-main: linear-gradient(
    to bottom right,
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-color),
    var(--primary-fade-color),
    var(--primary-fade-color),
    rgb(226, 235, 220),
    rgb(226, 235, 220),
    rgb(110, 185, 215),
    rgb(110, 185, 215)
  );
  --secondary-gradient: linear-gradient(to bottom, var(--secondary-color), var(--primary-fade-color));
  --tertiary-gradient: linear-gradient(to bottom, var(--primary-color), var(--primary-fade-color));
  --header-height: 8vh;
  --footer-height: 20vh;
  --secondary-color: #f2efe8;
  --primary-font: "Playfair Display", sans-serif;
  --header-font: "Pacifico", cursive, sans-serif;
  @media only screen and (max-width: 900px) {
    --footer-height: 15vh;
  }
}
